:root {
    --primary-green: #2F5233;
    --secondary-green: #4A7856;
    --light-green: #599032;
    --orange:#905a17;
    --secondary-blue: #003fa0;
    --light-blue: #8BB8E8;
    --off-white: #F5F7F4;
    --pure-white: #FFFFFF;
    --text-dark: #333333;
  }
  